.footer1{
    margin-top: -8rem;
}

.footer{
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: $c2;
    padding: 12rem 0 8rem;
    background-color: $color-blue;

    @include respond (tab-port){
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    }

    @include respond (phone){
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }

    & h3{
        color: $color-white;
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 2rem !important;
    }

    & ul{
        padding-left:0;
        & li{
            color: $color-white;
            margin-bottom: 1rem;
            // font-weight: 300;
            font-size: 1.4rem;
            & a{
                color: $color-white;
                transition: all .3s ease-in-out;


                &:hover{
                    color: $color-green;
                    text-decoration: none !important;
                }
            }
        }
    }

    & p{
        color: $color-white;
        font-size: 1.4rem;
    }
}


.icones{
    display: flex;

    & i{
        font-size: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
}