
.header{
    // background-color: $color-green;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
    background: linear-gradient(115.53deg, #10529A 35.87%, #45C1C6 98.21%);
    padding: 0;

    @include respond (tab-port){
        padding: 6rem 0;
    }

    & p{
        color: $color-white !important;
        margin: 2rem 0;
    }

    & h1 {
        color: $color-white !important;
        font-weight: bold;
        font-size: 4.5rem ;
        // color: $color-green;

        @include respond (phone){
            font-size: 3rem;
        }
    
    }
}


.section__img{
    & img{
        height: 60rem;
        width: 100%;
        padding-bottom: 4.5rem;
        object-fit: contain;


        @include respond (phone){
            height: 40rem;
        }
    }
}