.navlo1{
    display: none;
    padding:2rem 2rem;

    & img{
        height: 4rem;
    }

    @include respond (tab-port){
        display: block;
    }
}


.form--login{
    min-height: 100vh;
    display: flex;
    overflow: auto;

    @include respond (tab-port){
        flex-direction: column-reverse;
    }

    &__right{
        width: 50%;
        padding: 2rem;
        position: relative;

        @include respond (tab-land){
            width: 55%;
        }

        @include respond (tab-port){
            width: 100%;
            padding: 0;
        }

        & .navlo{
            & img{
                padding:0 2rem ;
                height: 4rem;
            }

            @include respond (tab-port){
                display: none;
            }
        }

        & form{
            // position: absolute;
            // top: 50%;
            // display: flex;
            // align-items: flex-start;
            // justify-content: center;
            // // margin-top: 30rem;
            // flex-direction: column;
            // height: 100%;
            width: 90%;
            margin: 3rem auto 0;
            // left: 50%;
            // transform: translate(-50% , -50%);


            & h2{
                color: $color-blue;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            & p{
                color: $color-blue;
            }

            & h4{
                & a{
                    color: $color-green;
                }
                
                margin-top: 1rem;
            }
        }
    }

    &__left{
        background: linear-gradient(338.24deg, #10529A 26.53%, #389EE8 124.85%);
        min-height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
        position: relative;
        overflow: hidden;



        @include respond (tab-land){
            width: 45%;
        }

        @include respond (tab-port){
            width: 100%;
            clip-path:initial;
            padding: 3rem 0;
            z-index: 1;
            min-height: initial;
        }

        & img{
            height: 40rem;
            object-fit: contain;

            @include respond (tab-land){
                height: 25rem;
            }
        }

        
    }
}


.bl-rd{
    position: absolute;
    height: 70rem;
    width: 70rem;
    border-radius: 50%;
    top: -350px;
    left: 0;
    z-index: -111;

    background: rgba(37, 74, 132, 0.46);


    @include respond (tab-port){
        height: 40rem;
        width: 40rem;
        top: -170px;
        left: initial;
    }
}

section{
    padding: 6rem 0;
}

.section-title{
    width: 50%;
    text-align: center;
    margin: 0 auto 4rem;

    & h1{
        font-size: 3rem;
        font-weight: bold;
        color: $color-blue;

        @include respond (tab-port){
            font-size: 2.5rem;
        }
    }

    & p{
        color: $color-black;
    }

    @include respond (tab-land){
        width: 70%;
    }

    @include respond (tab-port){
        width: 80%;
    }

    @include respond (phone){
        width: 100%;
    }
}

#popular-services{
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-color: $c2;
    padding: 12rem 0 8rem;

    @include respond (tab-port){
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    }

    @include respond (phone){
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
}

#popular-services1{
    background-color: $c2;
    padding-bottom: 12rem;
    margin-bottom: -8rem;
}

.section__img1{
    & img{
        height: 40rem;
        width: 100%;
        object-fit: cover;

        @include respond (tab-land){
            object-fit: contain;
        }

        @include respond (tab-port){
            height: 27rem;
            // object-fit: cover;
        }

        @include respond (phone){
            height: 20rem;
            // object-fit: cover;
        }
    }
}

.trust{
    & .section__descrip{
        & h1{
            font-size: 3.5rem;
            font-weight: 900;
            color: $color-blue;
            margin-bottom: 2rem;
    
            // @include respond (tab-port){
                
            // }
    
            @include respond (phone){
                font-size: 3rem;
            }
        }
    
        & p{
            color: $color-black;
            margin-bottom: 2.5rem;
        }
    
        & button{

            padding: 1rem 3rem;
            border-radius: 5px;
            width: initial;

            @include respond (phone){
                width: 100%;
            }
        }
    }
}

.img--ov1{
    margin-bottom: 2rem;
    position: relative;

    & img{
        width:100%;
        height: 30rem;
        object-fit: cover;
        border-radius: 10px;
    }

    & .overlay{
        height: 30rem;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.6194852941176471) 32%, rgba(255,255,255,0.5466561624649859) 100%);
        border-radius: 10px;
        top: 0;
        width: 100%;
        position: absolute;

        & .ov{
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            width: 40%;
            position: absolute;

            @include respond (tab-port){
                width: 80%;
                left: 50%;
            }

            & p{
                color: $color-white;
                font-weight: 600;
            }

            & .btn-site{

                padding: 1rem 2rem !important;
                border-radius: 5px;
                margin-bottom: 0;
                width: min-content !important;
    
                @include respond (phone){
                    // width: 100%;
                }
            }
        }

        
    }
}

.img--ov2{
    position: relative;
    margin-bottom: 2rem;

    & img{
        width:100%;
        height: 22rem;
        object-fit: cover;
        border-radius: 10px;
    } 

    & .overlay{
        height: 22rem;
        border-radius: 10px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        top: 0;
        width: 100%;
        position: absolute;

        & .ov{
            bottom: 20%;
            text-align: center;
            width: 100%;
            left: 0%;
            // transform: translate(-50%, -50%);
            // width: 40%;
            position: absolute;

            & p{
                color: $color-white;
                font-weight: 600;
            }
        }

        
    }
}

#testimonials{
    background-color: $c2;
    padding-bottom:15rem;
}

.form--title{

    & h1{
        color: $color-blue;
        font-weight: bold;
        font-size: 3rem;
    }

    & p{
        font-size: 13px ;
        color: $color-blue;
    }
}

.img--form img {
    width: 100%;
    height: 50rem;
    object-fit: contain;
}
  
@media only screen and (max-width: 48em) {
.img--form {
    display: none;
}
}

.photos__iframe{
    & iframe{
        height: 20rem;
    width: 100%;
    }
}

.jobberR{
    #progressbar li {
        width: 25%;
    }

    .form--check{
        & label{
            padding: 10px 0;
            border: none;

            &:hover{
                border: none;
            }
        }
    }

    & .btn-site{
        width: initial;
        padding: 1rem 4rem;
    }

    .photos__iframe{
        & p{
            font-size: 1.4rem ;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        border: 2px solid #B0CAE5;
        border-radius: 5px ;
        padding: 1rem;

        & iframe{
            border-radius: 5px;
        }
    }
}


.badge-title{
    background-color: $c2;
    color: $color-green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px ;
    margin-bottom: 2rem;

    & i{
        margin-right: 1rem;
    }

    & h3{
        margin-bottom: 0;
    }
}

.dashCustomer{
    & .nav-pills{
        border-bottom: 1px solid #D9D9D9 ;
    }

    & .nav-item{
        font-weight: bold;
    }

    & .nav-link{
        color: $color-blue !important;
        border-radius: 0;
    }

    & .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: $color-blue;
        background-color: transparent;
        border-bottom: 3px solid $color-green;
    }

    & .tab-content{
        padding: 3rem 0;
    }

    & .empty{
        text-align: center;
        min-height: 80vh;

        & img{
            height: 8rem;
            width: 8rem;
            margin-bottom: 2rem;
        }

        & p{
            font-weight: bold;
            color: $color-blue;
        }
    }
}

.profilPage{
    // min-height: 100vh;
    background-color: #f0f0f0e6;
}



// ********************************************************
// *************************************************************************



.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 10px auto ;
}
  
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
  
.avatar-upload .avatar-edit input {
    display: none;
}
  
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
  
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


.profiPage__left{
    & h3{
        font-size: 2rem;
        font-weight: bold;
        color: $color-blue;
    }

    & p{
        font-size: 1.4rem;
        color: $color-blue;
    }
}

.profiPage__right{
    & .accordion-item{
        border-radius: 12px;

        & button{
            border: 2px solid #BBD0E7;
            font-size: 1.6rem;
            padding: 1.6rem;
            border-radius: 12px !important;
            color: $color-blue;
        }
    }
}

.acc--part{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BBD0E7;

    &:last-child{
        border-bottom: 0;
    }

    & .suppr{
        color: #00000066;
    }


    & h4{
        font-weight: bold;
    }

    & p{
        font-size: 1.4rem;
    }

    & a{
        color: $color-blue;
        font-size: 1.4rem;
        font-weight: bold;
    }

    & img{
        height: 1.5rem ;
        margin-right: 1rem;
    }
}