.navigation{

    padding: 2rem 0;
    background: white;

    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .logo{
        & img{
            height: 4rem;
        }
    }

    & .menu{
        transition: all .3s ease-in-out;
        & ul{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding-left: 0;

            & li{
                margin-right: 2rem;
                
                & a {
                    color: $color-blue;
                    font-size: 1.4rem;
                    font-weight: bold;
                    transition: all .3s ease-in-out;

                    &:hover{
                        color: $color-green;
                    }
                }
            }
        }

        & .menu--btns{
            & li{
                margin-right: 2rem
            }
        }

        @include respond (tab-land){
            height: 100vh;
            width: 25rem;
            position: fixed;
            top: 0;
            background: white;
            box-shadow: $box-shadow;
            z-index: 111;
            right: -100%;
            padding: 2rem;


            & ul{
                display: block !important;

                & li{
                    margin: 1rem;
                }
            }
        }
    }

    & .menu--enter{
        display: none;
        font-size: 2.5rem;
        cursor: pointer;
        color: $color-blue;

        @include respond (tab-land){
            display: block;
        }  
    }

    & .menu--exit{
        height: 3rem;
        width: 3rem;
        color: $color-blue;
        border-radius: 50%;
        border: 2px solid $color-green;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        & i{
            font-size: 2.3rem;
            color: $color-green !important;
        }
        display: none;
        cursor: pointer;

        @include respond (tab-land){
            display: block;
        }
    }
}

.active--nav{
    color: $color-green;
}

.nav3{
    padding: 2rem 0;
    border-bottom: 1px solid #00000029;
}


.navigation1{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #00000029;

    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo{
            // height: 5rem;
            // width: 5rem;

            & img{
                height: 4rem;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &-form{
        display: flex;
        border: 1px solid rgba($color-green, .5);
        border-radius: 4px;
        overflow: hidden;

        & .input-group{
            display: flex;
            align-items: center;
            padding: 0 .5rem;
            flex-wrap: nowrap;
            height: 4rem;

            &:first-child{
                border-right: 1px solid rgba($color-green, .5);;
            }

            & .icon{
                height: 3rem;
                width: 2rem;
                margin-right: .5rem;

                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            & input{
                border: none;
                font-size: 1.4rem;
                width: 90%;

                &:focus{
                    outline: none;
                }
            }
        }

        & .btn-search{
            width: 20rem;
            background-color: $color-green;
            border: none;
            font-size: 1.5rem;
            color: white;
            cursor: pointer;
            transition: all .3s;

            &:focus{
                outline: none;
            }

            &:hover{
                background-color: rgba($color-green, .9);
            }
        }
    }

    &-menu{
        display: flex;
        align-items: center;

        & li{
            margin-left: 3rem;
            
            & a{
                display: block;
                padding: 2rem 0;
                color: rgba(black, .8);
                font-size: 1.6rem;
            }
        }

        @include respond (tab-port){
            display: none;
        }

        & .menu--hover{
            & ul{
                top: 7rem;
                li{
                    margin: 0;
                    // padding: 0;

                    & a{
                        padding: 0;
                    }
                }
            }
        }
    }

    & ul{
        margin-bottom: 0;
        padding-left: 0;
    }

    & .icon-form{
        
        font-size: 2rem;
        display: none;
        color: $color-blue;
        cursor: pointer;
        margin-right: 3rem;
    }

    & .icon-menu{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: $color-green;
        margin-left: 1rem;
        cursor: pointer;
        display: none;
        text-align: center;

        & img{
            height: 100%;
            width: 50%;
            object-fit: contain;
        }
    }

    .close-form{
        height: 3rem;
        width: 3rem;
        background-color: white;
        border: 1px solid #e51e25;
        border-radius: 50%;
        margin-left: 2rem;
        text-align: center;
        display: none;
        cursor: pointer;

        & img{
            height: 100%;
            width: 50%;
            object-fit: contain;
        }
    }

    @include respond (big-desktop) {
        & .icon-form{
            display: block;
        }

        &-form{
            background-color: white;
            width: 70%;
        }

        .box-from{
            position: absolute;
            left: 0;
            right: 0;
            top: -150%;
            padding: 0 3rem;
            height: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s;
            z-index: 12;

            & .close-form{
                display: block;
            }

            &.active{
                top: 0;
            }
        }
    }

    @include respond (tab-port){
        padding: 2rem 0;

        

        & .icon-menu{
            display: block;
        }

        &-form{
            width: 100%;
        }

        & .box-from{
            & .close-form{
                position: absolute;
                left: -1.7rem;
                top: .4rem;
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }

    & .notif{

        position: relative;
        margin-right: 2rem;
        
        & i{
            font-size: 2.5rem;
            
            // margin-top: 2rem;
            color: #C5C7CD;
        }

        & span{
            height: 1rem;
            width: 1rem;
            position: absolute;
            line-height: 2rem;
            color: white;
            // font-weight: bold;
            font-size: 13px;
            text-align: center;
            top: 0rem;
            right:0rem;
            background-color: #3751FF;
            border-radius: 50%;
        }
    }

    & .ul--drop__down{
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        background-color: white;
        position: absolute;
        top: 4rem;
        right: 1rem;
        margin-top: 1.5rem;
        border: 1px solid #e5e5e5;
        width: 20rem;
        
        &::after{
            content: '';
            position: absolute;
            height: 1.5rem;
            border: 1px solid #e5e5e5;
            width: 1.5rem;
            background-color: white;
            z-index: -11;
            top: -.6rem;
            right: 5px;
            transform: rotate(45deg);
        }

        &--title{
            padding: 1rem;
            background-color: #fcfcfc;
            border-bottom:1px solid #e5e5e5;
            & h3{
                font-size: 14px;
            }

            & p{
                font-size: 13px;

                & a{
                    color: $color-green;
                }
            }
        }


        & li{
            padding: 1rem;
            cursor: pointer;
            border-left: none;
            height: initial;
            display: block;
            border-right: none;

            &:hover{
                background-color: #fcfcfc;
            }
        }
    }
}

.ul--drop__down1{
    & ul{
        border-bottom:1px solid #e5e5e5;
        // border-top: 1px solid #e5e5e5;
    }
   
    & li{
        font-size: 13px;
        padding: .7rem 1rem !important;
        transition: all .3s ease-in-out;

        &:hover{
            margin-left: 1rem;
            background-color: white !important;
        }

        & a{
            color: $color-black;
        }
    }
}

.ul--drop{
    position: relative;
    z-index: 111;
    & button{
        &:focus + .ul--drop__down{
            visibility: visible;
            opacity: 1;
        }
    }
}

.lg--green{
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;

    & span{
        color: $color-blue;
        margin-right: .5rem;
        font-size: 1.4rem;
    }

    & h3{
        margin-bottom: 0;
        color:#7AA4D1;
        font-weight: bold;
        background-color:#EFF7FF;
        border-radius: 50%;
        border: 1.5px solid #DFE0EB;
        height: 4rem;
        width: 4rem;
        // line-height: 4rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.searchP{

    display: flex;
    align-items: center;
    border: 1px solid $color-blue;
    padding: 1rem ;
    border-radius: 5px;

    & i{
        color: $color-blue;
        margin-right: 1.5rem;
    }

    & input{
        font-size: 1.4rem;
        border: none;
        width: 100%;
        color: $color-blue;
    }
}

.menu2{
    & ul {
        & li{

            & a{
                display: flex;
                align-items: center;
                & p {
                    height: 2rem;
                    text-align: center;
                    width: 2rem;
                    border-radius: 50%;
                    background-color: $color-green;
                    color: $color-white;
                    margin-left: .6rem;
                }
            }
        }
    }
}

.n--active{
    color: $color-green !important;
}