@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10529A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 82, 154, 0.8);
}

a, a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.blue {
  color: #10529A;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.input--group input {
  padding: 15px;
  width: 100%;
  transition: all .3s ease-in-out;
  border: 1px solid #D1E0F1;
  border-radius: 5px;
  background-color: #FAFCFF;
  margin-bottom: 1rem;
  border-radius: 30px;
  font-size: 1.4rem;
}

.input--group select {
  padding: 15px;
  width: 100%;
  transition: all .3s ease-in-out;
  border: 1px solid #D1E0F1;
  border-radius: 5px;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.4rem;
}

.input--group1 {
  display: flex;
  padding: 15px;
  align-items: center;
  border: 1px solid #D1E0F1;
  margin-bottom: 1rem;
  border-radius: 30px;
  background-color: #FAFCFF;
}

.input--group1 i {
  color: #88A7C9;
  margin-right: 1.5rem;
}

.input--group1 input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
}

.inp--header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.inp--header i {
  margin-right: 1rem;
  font-size: 2.3rem;
  color: #5FC2B2;
}

.inp--header input {
  width: 100%;
  border: none;
}

.inp--header .btn-site {
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
}

.group--input {
  margin-bottom: 20px;
}

.group--input label {
  color: #10529A;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: .8rem;
}

.group--input input, .group--input textarea, .group--input select {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.group--input input:focus, .group--input textarea:focus, .group--input select:focus {
  border: 1px solid #5FC2B2;
}

.group--input textarea {
  height: 10rem;
}

.group--input2 label {
  color: #10529A;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: .8rem;
}

.group--input2 i {
  font-size: 4rem;
  color: #5FC2B2;
}

.group--input2 .box {
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.group--input2 .box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.group--input2 .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.group--input2 .dropzone-wrapper {
  border: 1px solid #e5e5e5;
  background-color: #F2F6FB;
  color: #0f0f0f;
  position: relative;
  height: 100px;
}

.group--input2 .dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 20px;
  font-size: 13px;
}

.group--input2 .dropzone,
.group--input2 .dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}

.group--input2 .preview-zone {
  text-align: center;
}

.group--input2 .preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.group-text {
  margin-bottom: 20px;
}

.group-text label {
  color: #10529A;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: .8rem;
}

.group-text p {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.group-text p:hover {
  border: 1px solid #5FC2B2;
}

.group-text textarea {
  height: 10rem;
}

.jobber-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 36em) {
  .jobber-select select {
    width: 95%;
  }
}

.container-onglets {
  color: #000;
  width: 100%;
  display: flex;
  z-index: 99;
}

.onglets {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  transition: all .5s;
}

.onglets p {
  font-size: 2rem;
  font-weight: bold;
  color: #0f0f0f;
}

@media only screen and (max-width: 48em) {
  .onglets p {
    font-size: 1.4rem;
  }
}

.onglets:focus {
  outline: none;
}

.contenu {
  width: 100%;
  padding: 3rem 0 2rem;
  display: none;
}

/* Anim */
.active-onglet {
  z-index: 1;
}

.activeContenu {
  display: block;
  animation: fade 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-tab {
  margin-top: 3rem;
  width: 100%;
}

.login-tab .container-onglets {
  background-color: #E6F3FA;
  padding: 1rem;
  border-radius: 30px;
}

.login-tab .onglets {
  border-radius: 30px;
}

.login-tab .onglets p {
  font-size: 1.4rem;
  font-weight: initial;
  padding: 1rem;
  color: #10529A;
}

@media only screen and (max-width: 48em) {
  .login-tab .onglets p {
    font-size: 1.4rem;
  }
}

.login-tab .onglets:focus {
  outline: none;
}

.login-tab .active-onglet {
  background: #10529A;
  color: white !important;
}

.login-tab .active-onglet p {
  color: #fff;
}

#tbs .nav-link {
  color: #10529A;
  font-weight: bold;
}

#tbs .nav-pills .nav-link.active, #tbs .nav-pills .show > .nav-link {
  color: #5FC2B2;
  background-color: transparent;
}

.btn-site {
  padding: 1rem;
  border-radius: 30px;
  width: 100%;
  color: white;
  background-color: #5FC2B2;
  border: 2px solid #5FC2B2;
  transition: all .3s ease-in-out;
  margin: 2rem 0;
}

.btn-site:hover {
  background-color: #fff;
  color: #5FC2B2;
}

.btn-site1 {
  padding: 1rem;
  border-radius: 30px;
  width: 100%;
  color: white;
  background-color: #10529A;
  border: 2px solid #10529A;
  transition: all .3s ease-in-out;
  margin: 2rem 0;
}

.btn-site1:hover {
  background-color: #fff;
  color: #10529A;
}

.btn-nav {
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #10529A;
  border: 2px solid #10529A;
  transition: all .3s ease-in-out;
}

.btn-nav:hover {
  background-color: #fff;
  color: #10529A;
}

.btn-nav1 {
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  color: #10529A;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #10529A;
  transition: all .3s ease-in-out;
}

.btn-nav1:hover {
  background-color: #10529A;
  color: #fff;
}

.dec {
  padding: 1.5rem;
  border: 2px solid #BBD0E7;
  width: 100%;
  font-size: 1.5rem;
  text-align: start;
  border-radius: 12px !important;
  color: #10529A;
  background-color: #fff;
  margin-top: 2rem;
}

.card-hiw {
  text-align: center;
  margin-bottom: 2rem;
}

.card-hiw img {
  height: 12rem;
  object-fit: cover;
}

.card-hiw h2 {
  font-weight: bold;
  color: #10529A;
  margin: 1.5rem 0;
}

.card-services {
  background-color: #fff;
  border-radius: 12px;
  padding: 2.5rem;
  text-align: center;
  transition: all .3s ease-in-out;
  margin-bottom: 1rem;
}

.card-services:hover {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.card-services img {
  height: 5rem;
}

.card-services h3 {
  color: #10529A;
  font-weight: 500;
  margin-top: 1rem;
}

.card--testimonial {
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 20px;
}

.card--testimonial img {
  height: 7rem;
  width: 7rem !important;
  margin: 1rem auto;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 36em) {
  .card--testimonial img {
    height: 6rem;
    width: 6rem !important;
  }
}

.card--testimonial h3 {
  font-weight: bold;
  color: #10529A;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card--blue {
  padding: 3rem;
  background-color: #F4F9FF;
  border-radius: 5px;
}

.card--blue img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.card--blue h2 {
  color: #10529A;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.card--blue p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 48em) {
  .card--blue {
    margin-top: 2rem;
  }
}

.card--horaires {
  width: 70%;
  border-radius: 5px;
  border: 2px solid #B0CAE5;
  padding: 2rem;
}

.card--horaires .d-flex {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card--horaires p {
  color: #6483A5;
}

@media only screen and (max-width: 48em) {
  .card--horaires {
    width: 100%;
  }
}

.card--jobber {
  border: 1px solid #B0CAE5;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.card--jobber__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 36em) {
  .card--jobber__title {
    display: block;
  }
}

.card--jobber__title .btn-site {
  margin: 0;
  font-size: 1.3rem;
}

@media only screen and (max-width: 36em) {
  .card--jobber__title .btn-site {
    margin: 1rem 0;
  }
}

.card--jobber__title .profil--jobber {
  display: flex;
  align-items: center;
}

.card--jobber__title .profil--jobber img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.card--jobber__title .profil--jobber p {
  color: #10529A;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 36em) {
  .card--jobber__title .profil--jobber p {
    margin-left: 1rem;
  }
}

.card--jobber__body {
  margin: 2rem 0;
}

.card--jobber__body h2 {
  color: #5FC2B2;
  font-size: 3rem;
  font-weight: bold;
}

.card--jobber__body p {
  background-color: #F2F5F8;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  font-size: 14px;
}

.card--jobber__bottom {
  padding-top: 2rem;
  border-top: 1px solid #BDCEE0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .card--jobber__bottom {
    display: block;
  }
}

.card--jobber__bottom p {
  color: #10529A;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 48em) {
  .card--jobber__bottom p {
    margin-left: 1rem;
  }
}

.card-b {
  background-color: #fff;
  border-radius: 12px;
  padding: 2.5rem;
  border: 2px solid #BBD0E7;
  transition: all .3s ease-in-out;
  margin-bottom: 1rem;
}

#msform {
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding-left: 0;
}

#progressbar li {
  list-style-type: none;
  color: #5FC2B2;
  text-transform: uppercase;
  font-size: 10px;
  width: 20%;
  float: left;
  text-align: center;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  border: 1px solid #5FC2B2;
  border-radius: 50%;
  display: block;
  font-size: 12px;
  color: transparent;
  background: white;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #5FC2B2;
  color: transparent;
}

.form--check label {
  margin-right: 3rem;
}

.form--check label a {
  color: #5FC2B2;
}

.form--check .option-input {
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5.33333px;
  padding: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.form--check .option-input.radio {
  border-radius: 50%;
  cursor: pointer;
}

.form--check .option-input.radio::after {
  border-radius: 50%;
}

.form--check .option-input:hover {
  background: rgba(95, 194, 178, 0.3);
}

.form--check .option-input:checked {
  background: #5FC2B2;
}

.form--check .option-input:checked::before {
  height: 15px;
  display: flex;
  content: '\f00c';
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free';
}

.form--check .option-input:checked::after {
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.fields--btns {
  display: flex;
  align-items: center;
}

.fields--btns input {
  width: 100%;
}

.fields--btns .btn--site1 {
  margin-right: 1rem;
}

fieldset .form--check label {
  color: #10529A;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: .8rem;
  border: 1px solid #ccc;
  margin-right: 0;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

fieldset .form--check label:hover {
  border: 1px solid #5FC2B2;
}

.navlo1 {
  display: none;
  padding: 2rem 2rem;
}

.navlo1 img {
  height: 4rem;
}

@media only screen and (max-width: 48em) {
  .navlo1 {
    display: block;
  }
}

.form--login {
  min-height: 100vh;
  display: flex;
  overflow: auto;
}

@media only screen and (max-width: 48em) {
  .form--login {
    flex-direction: column-reverse;
  }
}

.form--login__right {
  width: 50%;
  padding: 2rem;
  position: relative;
}

@media only screen and (max-width: 62em) {
  .form--login__right {
    width: 55%;
  }
}

@media only screen and (max-width: 48em) {
  .form--login__right {
    width: 100%;
    padding: 0;
  }
}

.form--login__right .navlo img {
  padding: 0 2rem;
  height: 4rem;
}

@media only screen and (max-width: 48em) {
  .form--login__right .navlo {
    display: none;
  }
}

.form--login__right form {
  width: 90%;
  margin: 3rem auto 0;
}

.form--login__right form h2 {
  color: #10529A;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form--login__right form p {
  color: #10529A;
}

.form--login__right form h4 {
  margin-top: 1rem;
}

.form--login__right form h4 a {
  color: #5FC2B2;
}

.form--login__left {
  background: linear-gradient(338.24deg, #10529A 26.53%, #389EE8 124.85%);
  min-height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 62em) {
  .form--login__left {
    width: 45%;
  }
}

@media only screen and (max-width: 48em) {
  .form--login__left {
    width: 100%;
    clip-path: initial;
    padding: 3rem 0;
    z-index: 1;
    min-height: initial;
  }
}

.form--login__left img {
  height: 40rem;
  object-fit: contain;
}

@media only screen and (max-width: 62em) {
  .form--login__left img {
    height: 25rem;
  }
}

.bl-rd {
  position: absolute;
  height: 70rem;
  width: 70rem;
  border-radius: 50%;
  top: -350px;
  left: 0;
  z-index: -111;
  background: rgba(37, 74, 132, 0.46);
}

@media only screen and (max-width: 48em) {
  .bl-rd {
    height: 40rem;
    width: 40rem;
    top: -170px;
    left: initial;
  }
}

section {
  padding: 6rem 0;
}

.section-title {
  width: 50%;
  text-align: center;
  margin: 0 auto 4rem;
}

.section-title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #10529A;
}

@media only screen and (max-width: 48em) {
  .section-title h1 {
    font-size: 2.5rem;
  }
}

.section-title p {
  color: #0f0f0f;
}

@media only screen and (max-width: 62em) {
  .section-title {
    width: 70%;
  }
}

@media only screen and (max-width: 48em) {
  .section-title {
    width: 80%;
  }
}

@media only screen and (max-width: 36em) {
  .section-title {
    width: 100%;
  }
}

#popular-services {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-color: #F4F9FF;
  padding: 12rem 0 8rem;
}

@media only screen and (max-width: 48em) {
  #popular-services {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 36em) {
  #popular-services {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  }
}

#popular-services1 {
  background-color: #F4F9FF;
  padding-bottom: 12rem;
  margin-bottom: -8rem;
}

.section__img1 img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 62em) {
  .section__img1 img {
    object-fit: contain;
  }
}

@media only screen and (max-width: 48em) {
  .section__img1 img {
    height: 27rem;
  }
}

@media only screen and (max-width: 36em) {
  .section__img1 img {
    height: 20rem;
  }
}

.trust .section__descrip h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #10529A;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 36em) {
  .trust .section__descrip h1 {
    font-size: 3rem;
  }
}

.trust .section__descrip p {
  color: #0f0f0f;
  margin-bottom: 2.5rem;
}

.trust .section__descrip button {
  padding: 1rem 3rem;
  border-radius: 5px;
  width: initial;
}

@media only screen and (max-width: 36em) {
  .trust .section__descrip button {
    width: 100%;
  }
}

.img--ov1 {
  margin-bottom: 2rem;
  position: relative;
}

.img--ov1 img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
}

.img--ov1 .overlay {
  height: 30rem;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.619485) 32%, rgba(255, 255, 255, 0.546656) 100%);
  border-radius: 10px;
  top: 0;
  width: 100%;
  position: absolute;
}

.img--ov1 .overlay .ov {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%;
  position: absolute;
}

@media only screen and (max-width: 48em) {
  .img--ov1 .overlay .ov {
    width: 80%;
    left: 50%;
  }
}

.img--ov1 .overlay .ov p {
  color: #fff;
  font-weight: 600;
}

.img--ov1 .overlay .ov .btn-site {
  padding: 1rem 2rem !important;
  border-radius: 5px;
  margin-bottom: 0;
  width: min-content !important;
}

.img--ov2 {
  position: relative;
  margin-bottom: 2rem;
}

.img--ov2 img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 10px;
}

.img--ov2 .overlay {
  height: 22rem;
  border-radius: 10px;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  width: 100%;
  position: absolute;
}

.img--ov2 .overlay .ov {
  bottom: 20%;
  text-align: center;
  width: 100%;
  left: 0%;
  position: absolute;
}

.img--ov2 .overlay .ov p {
  color: #fff;
  font-weight: 600;
}

#testimonials {
  background-color: #F4F9FF;
  padding-bottom: 15rem;
}

.form--title h1 {
  color: #10529A;
  font-weight: bold;
  font-size: 3rem;
}

.form--title p {
  font-size: 13px;
  color: #10529A;
}

.img--form img {
  width: 100%;
  height: 50rem;
  object-fit: contain;
}

@media only screen and (max-width: 48em) {
  .img--form {
    display: none;
  }
}

.photos__iframe iframe {
  height: 20rem;
  width: 100%;
}

.jobberR #progressbar li {
  width: 25%;
}

.jobberR .form--check label {
  padding: 10px 0;
  border: none;
}

.jobberR .form--check label:hover {
  border: none;
}

.jobberR .btn-site {
  width: initial;
  padding: 1rem 4rem;
}

.jobberR .photos__iframe {
  border: 2px solid #B0CAE5;
  border-radius: 5px;
  padding: 1rem;
}

.jobberR .photos__iframe p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.jobberR .photos__iframe iframe {
  border-radius: 5px;
}

.badge-title {
  background-color: #F4F9FF;
  color: #5FC2B2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.badge-title i {
  margin-right: 1rem;
}

.badge-title h3 {
  margin-bottom: 0;
}

.dashCustomer .nav-pills {
  border-bottom: 1px solid #D9D9D9;
}

.dashCustomer .nav-item {
  font-weight: bold;
}

.dashCustomer .nav-link {
  color: #10529A !important;
  border-radius: 0;
}

.dashCustomer .nav-pills .nav-link.active, .dashCustomer .nav-pills .show > .nav-link {
  color: #10529A;
  background-color: transparent;
  border-bottom: 3px solid #5FC2B2;
}

.dashCustomer .tab-content {
  padding: 3rem 0;
}

.dashCustomer .empty {
  text-align: center;
  min-height: 80vh;
}

.dashCustomer .empty img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2rem;
}

.dashCustomer .empty p {
  font-weight: bold;
  color: #10529A;
}

.profilPage {
  background-color: #f0f0f0e6;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profiPage__left h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #10529A;
}

.profiPage__left p {
  font-size: 1.4rem;
  color: #10529A;
}

.profiPage__right .accordion-item {
  border-radius: 12px;
}

.profiPage__right .accordion-item button {
  border: 2px solid #BBD0E7;
  font-size: 1.6rem;
  padding: 1.6rem;
  border-radius: 12px !important;
  color: #10529A;
}

.acc--part {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BBD0E7;
}

.acc--part:last-child {
  border-bottom: 0;
}

.acc--part .suppr {
  color: #00000066;
}

.acc--part h4 {
  font-weight: bold;
}

.acc--part p {
  font-size: 1.4rem;
}

.acc--part a {
  color: #10529A;
  font-size: 1.4rem;
  font-weight: bold;
}

.acc--part img {
  height: 1.5rem;
  margin-right: 1rem;
}

.header {
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
  background: linear-gradient(115.53deg, #10529A 35.87%, #45C1C6 98.21%);
  padding: 0;
}

@media only screen and (max-width: 48em) {
  .header {
    padding: 6rem 0;
  }
}

.header p {
  color: #fff !important;
  margin: 2rem 0;
}

.header h1 {
  color: #fff !important;
  font-weight: bold;
  font-size: 4.5rem;
}

@media only screen and (max-width: 36em) {
  .header h1 {
    font-size: 3rem;
  }
}

.section__img img {
  height: 60rem;
  width: 100%;
  padding-bottom: 4.5rem;
  object-fit: contain;
}

@media only screen and (max-width: 36em) {
  .section__img img {
    height: 40rem;
  }
}

.footer1 {
  margin-top: -8rem;
}

.footer {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-color: #F4F9FF;
  padding: 12rem 0 8rem;
  background-color: #10529A;
}

@media only screen and (max-width: 48em) {
  .footer {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 36em) {
  .footer {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  }
}

.footer h3 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 2rem !important;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.footer ul li a {
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer ul li a:hover {
  color: #5FC2B2;
  text-decoration: none !important;
}

.footer p {
  color: #fff;
  font-size: 1.4rem;
}

.icones {
  display: flex;
}

.icones i {
  font-size: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.navigation {
  padding: 2rem 0;
  background: white;
}

.navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .logo img {
  height: 4rem;
}

.navigation .menu {
  transition: all .3s ease-in-out;
}

.navigation .menu ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation .menu ul li {
  margin-right: 2rem;
}

.navigation .menu ul li a {
  color: #10529A;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.navigation .menu ul li a:hover {
  color: #5FC2B2;
}

.navigation .menu .menu--btns li {
  margin-right: 2rem;
}

@media only screen and (max-width: 62em) {
  .navigation .menu {
    height: 100vh;
    width: 25rem;
    position: fixed;
    top: 0;
    background: white;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
    z-index: 111;
    right: -100%;
    padding: 2rem;
  }
  .navigation .menu ul {
    display: block !important;
  }
  .navigation .menu ul li {
    margin: 1rem;
  }
}

.navigation .menu--enter {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #10529A;
}

@media only screen and (max-width: 62em) {
  .navigation .menu--enter {
    display: block;
  }
}

.navigation .menu--exit {
  height: 3rem;
  width: 3rem;
  color: #10529A;
  border-radius: 50%;
  border: 2px solid #5FC2B2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.navigation .menu--exit i {
  font-size: 2.3rem;
  color: #5FC2B2 !important;
}

@media only screen and (max-width: 62em) {
  .navigation .menu--exit {
    display: block;
  }
}

.active--nav {
  color: #5FC2B2;
}

.nav3 {
  padding: 2rem 0;
  border-bottom: 1px solid #00000029;
}

.navigation1 {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #00000029;
}

.navigation1-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation1-content .logo img {
  height: 4rem;
  width: 100%;
  object-fit: contain;
}

.navigation1-form {
  display: flex;
  border: 1px solid rgba(95, 194, 178, 0.5);
  border-radius: 4px;
  overflow: hidden;
}

.navigation1-form .input-group {
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  flex-wrap: nowrap;
  height: 4rem;
}

.navigation1-form .input-group:first-child {
  border-right: 1px solid rgba(95, 194, 178, 0.5);
}

.navigation1-form .input-group .icon {
  height: 3rem;
  width: 2rem;
  margin-right: .5rem;
}

.navigation1-form .input-group .icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navigation1-form .input-group input {
  border: none;
  font-size: 1.4rem;
  width: 90%;
}

.navigation1-form .input-group input:focus {
  outline: none;
}

.navigation1-form .btn-search {
  width: 20rem;
  background-color: #5FC2B2;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all .3s;
}

.navigation1-form .btn-search:focus {
  outline: none;
}

.navigation1-form .btn-search:hover {
  background-color: rgba(95, 194, 178, 0.9);
}

.navigation1-menu {
  display: flex;
  align-items: center;
}

.navigation1-menu li {
  margin-left: 3rem;
}

.navigation1-menu li a {
  display: block;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
}

@media only screen and (max-width: 48em) {
  .navigation1-menu {
    display: none;
  }
}

.navigation1-menu .menu--hover ul {
  top: 7rem;
}

.navigation1-menu .menu--hover ul li {
  margin: 0;
}

.navigation1-menu .menu--hover ul li a {
  padding: 0;
}

.navigation1 ul {
  margin-bottom: 0;
  padding-left: 0;
}

.navigation1 .icon-form {
  font-size: 2rem;
  display: none;
  color: #10529A;
  cursor: pointer;
  margin-right: 3rem;
}

.navigation1 .icon-menu {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #5FC2B2;
  margin-left: 1rem;
  cursor: pointer;
  display: none;
  text-align: center;
}

.navigation1 .icon-menu img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

.navigation1 .close-form {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border: 1px solid #e51e25;
  border-radius: 50%;
  margin-left: 2rem;
  text-align: center;
  display: none;
  cursor: pointer;
}

.navigation1 .close-form img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

@media only screen and (max-width: 75em) {
  .navigation1 .icon-form {
    display: block;
  }
  .navigation1-form {
    background-color: white;
    width: 70%;
  }
  .navigation1 .box-from {
    position: absolute;
    left: 0;
    right: 0;
    top: -150%;
    padding: 0 3rem;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    z-index: 12;
  }
  .navigation1 .box-from .close-form {
    display: block;
  }
  .navigation1 .box-from.active {
    top: 0;
  }
}

@media only screen and (max-width: 48em) {
  .navigation1 {
    padding: 2rem 0;
  }
  .navigation1 .icon-menu {
    display: block;
  }
  .navigation1-form {
    width: 100%;
  }
  .navigation1 .box-from .close-form {
    position: absolute;
    left: -1.7rem;
    top: .4rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.navigation1 .notif {
  position: relative;
  margin-right: 2rem;
}

.navigation1 .notif i {
  font-size: 2.5rem;
  color: #C5C7CD;
}

.navigation1 .notif span {
  height: 1rem;
  width: 1rem;
  position: absolute;
  line-height: 2rem;
  color: white;
  font-size: 13px;
  text-align: center;
  top: 0rem;
  right: 0rem;
  background-color: #3751FF;
  border-radius: 50%;
}

.navigation1 .ul--drop__down {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  background-color: white;
  position: absolute;
  top: 4rem;
  right: 1rem;
  margin-top: 1.5rem;
  border: 1px solid #e5e5e5;
  width: 20rem;
}

.navigation1 .ul--drop__down::after {
  content: '';
  position: absolute;
  height: 1.5rem;
  border: 1px solid #e5e5e5;
  width: 1.5rem;
  background-color: white;
  z-index: -11;
  top: -.6rem;
  right: 5px;
  transform: rotate(45deg);
}

.navigation1 .ul--drop__down--title {
  padding: 1rem;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
}

.navigation1 .ul--drop__down--title h3 {
  font-size: 14px;
}

.navigation1 .ul--drop__down--title p {
  font-size: 13px;
}

.navigation1 .ul--drop__down--title p a {
  color: #5FC2B2;
}

.navigation1 .ul--drop__down li {
  padding: 1rem;
  cursor: pointer;
  border-left: none;
  height: initial;
  display: block;
  border-right: none;
}

.navigation1 .ul--drop__down li:hover {
  background-color: #fcfcfc;
}

.ul--drop__down1 ul {
  border-bottom: 1px solid #e5e5e5;
}

.ul--drop__down1 li {
  font-size: 13px;
  padding: .7rem 1rem !important;
  transition: all .3s ease-in-out;
}

.ul--drop__down1 li:hover {
  margin-left: 1rem;
  background-color: white !important;
}

.ul--drop__down1 li a {
  color: #0f0f0f;
}

.ul--drop {
  position: relative;
  z-index: 111;
}

.ul--drop button:focus + .ul--drop__down {
  visibility: visible;
  opacity: 1;
}

.lg--green {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
}

.lg--green span {
  color: #10529A;
  margin-right: .5rem;
  font-size: 1.4rem;
}

.lg--green h3 {
  margin-bottom: 0;
  color: #7AA4D1;
  font-weight: bold;
  background-color: #EFF7FF;
  border-radius: 50%;
  border: 1.5px solid #DFE0EB;
  height: 4rem;
  width: 4rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchP {
  display: flex;
  align-items: center;
  border: 1px solid #10529A;
  padding: 1rem;
  border-radius: 5px;
}

.searchP i {
  color: #10529A;
  margin-right: 1.5rem;
}

.searchP input {
  font-size: 1.4rem;
  border: none;
  width: 100%;
  color: #10529A;
}

.menu2 ul li a {
  display: flex;
  align-items: center;
}

.menu2 ul li a p {
  height: 2rem;
  text-align: center;
  width: 2rem;
  border-radius: 50%;
  background-color: #5FC2B2;
  color: #fff;
  margin-left: .6rem;
}

.n--active {
  color: #5FC2B2 !important;
}
/*# sourceMappingURL=main.css.map */