.btn-site{
    padding: 1rem;
    border-radius: 30px;
    width: 100%;
    color: white;
    // font-weight: bold;
    background-color: $color-green;
    border: 2px solid $color-green;
    transition: all .3s ease-in-out;
    margin: 2rem 0;

    // & a{
    //    width: 100%;
    //    margin-top: 1rem;
    // }

    &:hover{
        background-color: $color-white;
        color: $color-green;
    }
}

.btn-site1{
    padding: 1rem;
    border-radius: 30px;
    width: 100%;
    color: white;
    // font-weight: bold;
    background-color: $color-blue;
    border: 2px solid $color-blue;
    transition: all .3s ease-in-out;
    margin: 2rem 0;

    // & a{
    //    width: 100%;
    //    margin-top: 1rem;
    // }

    &:hover{
        background-color: $color-white;
        color: $color-blue;
    }
}

.btn-nav{
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: $color-blue;
    border: 2px solid $color-blue;
    transition: all .3s ease-in-out;
    // margin: 2rem 0;

    // & a{
    //    width: 100%;
    //    margin-top: 1rem;
    // }

    &:hover{
        background-color: $color-white;
        color: $color-blue;
    }
}

.btn-nav1{
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    color: $color-blue;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid $color-blue;
    transition: all .3s ease-in-out;
    // margin: 2rem 0;

    // & a{
    //    width: 100%;
    //    margin-top: 1rem;
    // }

    &:hover{
        background-color: $color-blue;
        color: $color-white;
    }
}

.dec{
    padding:1.5rem ;
    border: 2px solid #BBD0E7;
    width: 100%;
    font-size: 1.5rem;
    // padding: 1.6rem;
    text-align: start;
    border-radius: 12px !important;
    color: $color-blue;
    background-color: $color-white;
    margin-top: 2rem;
}