.card-hiw{
    text-align: center;
    margin-bottom: 2rem;

    & img{
        height: 12rem;
        object-fit: cover;
    }

    & h2{
        font-weight: bold;
        color: $color-blue;
        margin: 1.5rem 0;
    }
}

.card-services{
    background-color: $color-white;
    border-radius: 12px;
    padding: 2.5rem;
    text-align: center;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;

    &:hover{
        box-shadow: $box-shadow;
        // transform: scale(1.01);
    }

    & img{
        height: 5rem;
    }

    & h3{
        color: $color-blue;
        font-weight: 500;
        margin-top: 1rem;
    }
}

.card--testimonial{
    display: block;
    text-align: center;
    background-color: $color-white;
    // box-shadow: $box-shadow;
    padding: 4rem 2rem;

    border-radius: 20px;
    
    & img{
        height: 7rem;
        width: 7rem !important;
        margin:1rem auto ;
        object-fit: cover;
        border-radius: 50%;


        @include respond (phone){
            height: 6rem;
            width: 6rem !important;
        }
    }

    & h3{
        font-weight: bold;
        color: $color-blue;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

.card--blue{
    padding: 3rem;
    background-color: $c2;
    border-radius: 5px;

    & img{
        width: 3rem;
        height: 3rem;
        object-fit: contain;
    }

    & h2{
        color: $color-blue;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 1.5rem 0;
    }

    & p {
        font-size: 1.4rem;
    }

    @include respond (tab-port){
        margin-top: 2rem;
    }
}

.card--horaires{
    width: 70%;
    border-radius: 5px;
    border: 2px solid #B0CAE5;
    padding: 2rem;
    
    & .d-flex{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    & p{
        color: #6483A5;
    }

    @include respond (tab-port){
       width: 100%;
    }
}

.card--jobber{
    border: 1px solid #B0CAE5;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    &__title{

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond (phone){
            display: block;
        }

        & .btn-site{
            margin: 0;
            font-size: 1.3rem;

            @include respond (phone){
                margin: 1rem 0;
            }
        }

        & .profil--jobber{
            display: flex;
            align-items: center;

           

            & img{
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                object-fit: cover;
            }

            & p{
                color: $color-blue;
                font-weight: bold;
                font-size: 1.4rem;
                margin-left: 2rem;

                @include respond (phone){
                    margin-left: 1rem;
                }
            }
        }
    }

    &__body{
        margin: 2rem 0;

        & h2{
            color: $color-green;
            font-size: 3rem;
            font-weight: bold;
        }

        & p{
            background-color: #F2F5F8;
            margin-top: 2rem;
            padding: 2rem;
            border-radius: 10px;
            font-size: 14px;
        }
    }

    &__bottom{
        padding-top: 2rem;
        border-top: 1px solid #BDCEE0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond (tab-port){
            display: block;
        }

        & p{
            color: $color-blue;
            font-weight: bold;
            font-size: 1.4rem;
            margin-left: 2rem;

            
            @include respond (tab-port){
               margin-left: 1rem;
            }
        }
    }
}

.card-b{
    background-color: $color-white;
    border-radius: 12px;
    padding: 2.5rem;
    // text-align: center;
    border: 2px solid #BBD0E7;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;
}