//*****************************
.input--group{
    & input{
        padding:15px;
        width: 100%;
        transition: all .3s ease-in-out;
        border: 1px solid #D1E0F1;
        border-radius: 5px;
        background-color: #FAFCFF;
        margin-bottom: 1rem;
        border-radius: 30px;
        font-size: 1.4rem;
    }

    & select{
      padding:15px;
      width: 100%;
      transition: all .3s ease-in-out;
      border: 1px solid #D1E0F1;
      border-radius: 5px;
      // background-color: #FAFCFF;
      margin-bottom: 1rem;
      border-radius: 10px;
      font-size: 1.4rem;
  }
}

.input--group1{
    display: flex;
    padding:15px;
    align-items: center;
    border: 1px solid #D1E0F1;
    margin-bottom: 1rem;
    border-radius: 30px;
    background-color: #FAFCFF;

    & i{
        color: #88A7C9;
        margin-right: 1.5rem;
    }

    & input{
        width: 100%;        
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
    }
}

// ***********************
.inp--header{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    background-color: $color-white;
    border-radius: 5px;


    & i{
        margin-right: 1rem;
        font-size: 2.3rem;
        color: $color-green;
    }

    & input{
        width: 100%;
        border:none;
    }

    & .btn-site{
        margin: 0;
        padding:1rem;
        // font-weight: bold;
        // font-size: 1.3rem;
        border-radius: 5px;
    }
}


.group--input{
    margin-bottom: 20px;

    & label{
        color: $color-blue;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: .8rem;
    }

    & input , & textarea , & select{
        padding: 13px;
        border: 1px solid #ccc;
        border-radius: 3px;
        // margin-bottom: 10px;
        width: 100%;
        outline: none;
        // color: #2C3E50;
        font-size: 14px;
        transition: all .3s ease-in-out;


        &:focus{
            border: 1px solid $color-green;
        }
    }


    & textarea{
        height: 10rem;
    }

}

.group--input2 label {
    color: $color-blue;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: .8rem;
  }
  
  .group--input2 i {
    font-size: 4rem;
    color: $color-green;
  }
  
  .group--input2 .box {
    position: relative;
    width: 100%;
    border-radius: 5px;
  }
  
  .group--input2 .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }
  
  .group--input2 .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .group--input2 .dropzone-wrapper {
    border: 1px solid #e5e5e5;
    background-color: #F2F6FB;
    color: #0f0f0f;
    position: relative;
    height: 100px;
  }
  
  .group--input2 .dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 20px;
    font-size: 13px;
  }
  
  .group--input2 .dropzone,
  .group--input2 .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 100px;
    cursor: pointer;
    opacity: 0;
  }
  
  .group--input2 .preview-zone {
    text-align: center;
  }
  
  .group--input2 .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }


.group-text{
    margin-bottom: 20px;

    & label{
        color: $color-blue;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: .8rem;
    }

    & p{
        padding: 13px;
        border: 1px solid #ccc;
        border-radius: 3px;
        // margin-bottom: 10px;
        width: 100%;
        outline: none;
        // color: #2C3E50;
        font-size: 14px;
        transition: all .3s ease-in-out;


        &:hover{
            border: 1px solid $color-green;
        }
    }


    & textarea{
        height: 10rem;
    }

}

.jobber-select{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

   & select{
        @include respond (phone){
          width: 95%;
      }
   }
}
