#msform {
	// width: 400px;
	// margin: 50px auto;
	// text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	// box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	// padding: 20px 30px;
	box-sizing: border-box;
	// width: 80%;
	// margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
    width: 100%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    padding-left: 0;
}

#progressbar li {
	list-style-type: none;
	color: $color-green;
	text-transform: uppercase;
	font-size: 10px;
	width: 20%;
	float: left;
    text-align: center;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
    border: 1px solid $color-green;
	// line-height: 20px;
    border-radius: 50%;
	display: block;
	font-size: 12px;
	color: transparent;
	background: white;
	// border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ccc;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: $color-green;
	color: transparent;
}


// ********************

.form--check{
    label{
        margin-right: 3rem;

        & a{
            color: $color-green;
        }
    }
    .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5.33333px;
    padding: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    }

    // .option-input[type=radio]{
    //     border-radius: 50%;
    // }

    .option-input.radio {
        border-radius: 50%;
        cursor: pointer;
    }

    .option-input.radio::after {
        border-radius: 50%;
    }

    .option-input:hover {
    background:rgba($color-green, .3);
    }
    .option-input:checked {
    background: $color-green;
    }
    .option-input:checked::before {
        // width: 15px;
        height: 15px;
        display:flex;
        content: '\f00c';
        font-size: 14px;
        font-weight:bold;
        position: absolute;
        align-items:center;
        justify-content:center;
        font-family:'Font Awesome 5 Free';
    }
    .option-input:checked::after {
        background: #40e0d0;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }  
}

.fields--btns{
    display: flex;
    align-items: center;

    & input{
        width: 100%;
    }

    & .btn--site1{
        margin-right: 1rem;
    }
}


fieldset {
    & .form--check{

        

        & label{
            color: $color-blue;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: .8rem;
            border: 1px solid #ccc;
            margin-right: 0;
            padding: 13px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            outline: none;
            // color: #2C3E50;
            font-size: 14px;
            transition: all .3s ease-in-out;


            &:hover{
                border: 1px solid $color-green;
            }

        }
    }
}