.container-onglets{
    color: #000;
    width: 100%;
    display: flex;
    z-index: 99;

    // @include respond (tab-port){
    //     display: block;
    // }
}

.onglets  {
    width: 100%;
    // padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // padding: 2rem;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s;
    


    & p {
        font-size: 2rem;
        font-weight: bold;
        color: $color-black;
        // text-transform: uppercase;

        @include respond (tab-port){
            font-size: 1.4rem; 
        }
    }

    &:focus {
        outline: none;
    }
}



.contenu {
    width: 100%;
    padding: 3rem 0 2rem;
    display: none;
}
/* Anim */

.active-onglet {
    z-index: 1;
}

.activeContenu {
    display: block;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


// ******************************************************************
// *******************Part tab
.login-tab{
    margin-top: 3rem;
    width: 100%;
    
    & .container-onglets{
        background-color: #E6F3FA;
        padding: 1rem;
        border-radius: 30px;
    }

    & .onglets  {   
        
        border-radius: 30px;
        
        & p {
            font-size: 1.4rem;
            font-weight: initial;
            padding: 1rem ;
            color: $color-blue;
            // text-transform: uppercase;
    
            @include respond (tab-port){
                font-size: 1.4rem; 
            }
        }
    
        &:focus {
            outline: none;
        }
    }

    & .active-onglet {
        background: $color-blue;
        color: white !important;
    
        & p{
            color: $color-white;
        }
    }
}

// **************

#tbs{
    & .nav-link {
        color: $color-blue ;
        font-weight: bold;
        // background-color: transparent;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: $color-green;
        background-color: transparent;
    }
}