

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: .5rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-blue;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgba($color-blue, .8);
}


a,a:hover{
    text-decoration: none;
}

// h1,h2,h3,h4,h5,h6{
//     // font-family: 'DM', serif;
// }


p{
    margin-bottom:0 ;
    // color: rgba($color-black, .5);
}

.blue{
    color: $color-blue;
}

// p,span{
//     font-family: ' Source Serif', serif;
// }

ul{
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
    background-color: none;

    &:focus{
        outline: none;
    }
}

input{
    &:focus{
        outline: none;
    }
}